style
  .noie{text-align:center;width:644px;margin:150px auto}
  .noie h1{line-height:26px}
  .noie a,.noie a:hover{display:inline-block;*display:inline;zoom:1;background:url(/img/browsers.png) no-repeat;margin-left:30px}
  .noie a:hover{filter:alpha(opacity=80)}
  .noie p{margin-left:-30px}
  .noie .hd,.noie .bd{margin-bottom:20px}
  .noie .ft{font-size:12px;color:#ccc}
  a.chrome,a.chrome:hover{width:111px;height:112px}
  a.firefox,a.firefox:hover{width:105px;height:115px;background-position:-131px 0}
  a.safari,a.safari:hover{width:100px;height:111px;background-position:-256px 0}
  a.opera,a.opera:hover{width:97px;height:109px;background-position:-378px 0}
  a.ie,a.ie:hover{width:111px;height:115px;background-position:-489px 0}
.noie
  .hd
    h1
      为确保您的浏览体验与系统安全，强烈建议使用以下任一浏览器访问：
  .bd
    p
      a.chrome(href='http://www.google.com/chrome', title='Google Chrome')
      a.firefox(href='http://www.mozilla.com/firefox', title='Mozilla Firefox')
      a.safari(href='http://www.apple.com/safari', title='Apple Safari')
      a.opera(href='http://www.opera.com/browser', title='Opera')
      //a.ie(href='http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home', title='Microsoft IE')
  .ft
    p &copy;&nbsp;2012 mockee
