@import 'mixins/gradients'

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
  margin 0
  padding 0

table
  border-collapse collapse
  border-spacing 0

fieldset,img
  border 0

address,caption,cite,code,dfn,em,strong,th,var
  font-style normal
  font-weight normal

ol,ul
  list-style none

caption,th
  text-align left

h1,h2,h3,h4,h5,h6
  font-size 100%
  font-weight normal

q:before,q:after
  content ''

abbr,acronym
  border 0

input
  vertical-align middle

border-radius()
   -webkit-border-radius arguments
   -moz-border-radius arguments
   border-radius arguments

transition()
   -webkit-transition arguments
   -moz-transition arguments
   -o-transition arguments
   transition arguments

text-shadow()
    -webkit-text-shadow arguments
    -moz-text-shadow arguments
    text-shadow arguments

// you have to use two rules
::-webkit-input-placeholder
  font-style italic

:-moz-placeholder
  color: darkgray!important
  font-style italic

::selection
  background-color #eee

:-moz-selection
  background-color #eee

body
  color #111
  padding 45px 35px
  font 14px "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial, sans-serif
  //background url(/images/bg.png) 

/* webkit scrollbar */
body::-webkit-scrollbar-track-piece
  background-color #fafafa
  border-radius 0
  -webkit-border-bottom-right-radius 8px
  -webkit-border-bottom-left-radius 8px
  border-top-left-radius 0px 0px
  border-top-right-radius 0px 0px
  border-bottom-right-radius 8px 8px
  border-bottom-left-radius 8px 8px 

body::-webkit-scrollbar
  width 9px
  height 9px

body::-webkit-scrollbar-button:start:decrement,body::-webkit-scrollbar-button:end:increment
  display block
  height 0
  background-color transparent

body::-webkit-scrollbar-thumb:vertical
  height 50px
  background-color #999
  border-radius 8px

body::-webkit-scrollbar-thumb:horizontal
  width 50px
  background-color #999
  border-radius: 8px

textarea
  resize none
  font-family arial,helvetica,sans-serif

input[type=text]:focus,input[type=password]:focus,textarea:focus
  outline 0

strong
  font-weight bold

a
  color #888
  text-decoration none
  transition all .18s ease-in

a:hover
  color #fff
  background-color #888

.wrapper
  max-width 1180px
  min-width 909px
  margin 0 auto

header
  display block
  margin-bottom 35px

header h1
  font-size 50px
  color #333

header h1 a
  color #111

header h1 a:hover
  color #666
  background none

header .quote
  color #ccc
  font italic 14px Georgia

.main
  margin-right 300px
  padding-right 40px

section
  vertical-align top
  width 100%

section,aside
  display inline-block
  *display inline
  zoom 1

aside .mod p
  margin-bottom 8px

aside .mod p:last-child
  margin 0

footer
  display block
  margin-top 50px

.post-meta
  display inline-block
  *display inline
  zoom 1
  font-style italic
  font-size 12px
  color #333
  background-color #f7f7f7
  padding 5px 10px
  transition all .5s ease

.post-meta:hover
  color #111
  background-color #f3f3f3

.post-meta:hover a
  color #777

.post-meta:hover a:hover
  color #fff
  background-color #777

.copyright
  font-size 12px

article
  display block
  margin-bottom 60px

article h2
  font-size 25px

article h3
  font-size 20px

article strong
  line-height 0

time
  -webkit-text-size-adjust none
  font-style italic
  font-size 11px
  color #ccc

article .content
  display block
  text-align justify
  line-height 1.8
  padding 0 10px
 
article .content img
  margin-bottom -10px

article .content p
  margin-bottom 15px

article .align-left
  float left
  margin 0 20px 20px 0

article .align-right
  float right
  margin 0 0 20px 20px

article pre
  display inline-block
  font 13px/1.6 Monaco, Consolas, "BitStream Vera Sans Mono", "Courier New", Courier
  padding 12px 15px
  margin-right 12px
  word-wrap break-word
  vertical-align middle 

article footer
  display block
  padding-left 10px
  margin-top 20px

article .mod
  margin-bottom 40px

aside
  margin-left -300px
  width 300px

aside .mod,
aside .grey-mod
  margin-bottom 50px

aside .grey-mod
  padding 20px
  background-color #f7f7f7

.mod .hd
  margin-bottom 25px

.mod .hd h3
  font-size 23px

.mod .bd
  font-size 13px
  padding 0 10px

.admin-area
  background-color #f7f7f7
  padding 10px 15px

.admin-area a
  margin-right 10px

.item
  margin-bottom 10px

.item label,
.item input,
.item textarea
  display block

.item input,
.item textarea
  font-size 14px
  width 568px
  border 1px solid #ccc
  padding 5px
  border-radius 3px

.item label
  margin-bottom 5px
  
.item textarea
  height 400px
  line-height 1.8

.create-form
  padding 30px 0 0 20px

.photo-preview
  padding-top 20px

.photo-preview img
  display block
  max-width 260px
  margin-bottom 20px
  cursor pointer

.add-comment
  margin-left 20px

.add-comment .item
  margin-bottom 10px

.add-comment .item input
  font-size 12px
  color #666
  width 400px

.add-comment .item label
  font-size 13px
  margin-bottom 5px

.add-comment .editor
  position relative
  max-width 680px
  min-width 517px
  padding 5px 
  border 1px solid #ccc
  border-radius 3px
 
.editbar
  display none
  -webkit-text-size-adjust none
  position relative
  height 13px
  color #999
  font-size 11px
  padding 4px 8px
  margin-bottom 5px
  background #eee

.editbar:after
  content: '\0020';
  display: block;
  clear: both;
  height: 0

.codebar
  float left

.codebar a
  position absolute
  top 0
  left 8px 
  padding 4px 6px
  height 13px
  color #fff
  background-color #aaa

.codebar a:hover
  background-color #777

.editbar .tips
  font-style italic
  float right

.code-box
  position absolute
  top 26px
  left 13px
  padding 6px
  background-color #aaa

.item .code-area
  font 12px/1.4 Monaco, Consolas, "BitStream Vera Sans Mono", "Courier New", Courier
  width 450px
  height 80px
  margin-bottom 5px
  border none
  border-radius 0 

.add-comment .item .code-submit
  -webkit-text-size-adjust none
  font-size 9px
  padding 4px 8px
  width auto

#cmt-box
  font-size 12px
  padding 0
  color #666
  width 100% 
  height 150px
  line-height 1.4
  border none
 
.x
  position absolute
  right 11px
  bottom 9px
  cursor pointer
  color #fff

.x:hover
  text-shadow 0 0 6px #fff

.add-comment .item-submit
  padding 0

.comments
  margin-left 20px

.comments li
  margin-bottom 25px

.comments li:hover p
  display inline
  
.comments h4
  line-height 1.3
  margin-bottom 10px

article .comments .sh_sourceCode
  font-size 12px
  padding 6px 10px

.comments .avatar
  float left
  margin-right 10px
  width 32px
  height 32px
  background-color: #f7f7f7

.comments h4 em
  color #ccc
  font-size 12px
  font-style italic
  margin-right 5px

.comments .author
  margin-right 10px
  
.comments div
  position relative
  font-size 13px
  line-height 1.5
  padding 0 42px

.comments p
  display none
  position absolute
  right 8px
  bottom 0

.terse-list li
  margin-bottom 8px

.terse-list .avatar,
.terse-list .info
  display inline-block
  *display inline
  zoom 1

.terse-list .avatar
  vertical-align top
  margin 0 10px 8px 0
  width 32px
  height 32px
  background-color #f7f7f7

.terse-list em
  font-style italic
  margin-left 6px
  color #ccc

/* admin */
.note-list li
  position relative
  padding 8px

.note-list li:hover
  background #f7f7f7

.note-list li:hover .opt
  display inline

.note-list .date
  -webkit-text-size-adjust none
  color #ccc
  font-style italic
  font-size 11px
  margin-left 20px

.note-list .opt
  display none
  position absolute
  right 0
  font-size 12px

.note-list .opt a
  margin-right 10px

article .tags
  color: #ccc
  font-size 12px
  font-style italic
  margin-bottom 20px

.tag
  margin-right 3px

.tag:last-child
  margin 0

.trackback
  margin-left 8px

/* logos */
.powered
  float right
  text-align right
  padding-right 30px

.powered a
  display inline-block
  *display inline
  zoom 1
  margin-right 15px

.powered a:hover
  opacity 0.6
  background-color transparent

.logo-cloudapp
  width 100px
  height 18px
  background url(http://static.mockee.com/images/cloudapp.png) no-repeat
.logo-nodejs
  width 67px
  height 18px
  background url(http://static.mockee.com/images/nodejs.png) no-repeat
.logo-redis
  width 56px
  height 18px
  background url(http://static.mockee.com/images/redis.png) no-repeat

.bn-gray
  display inline-block
  font-weight bold
  color #666
  padding 7px 12px
  text-transform uppercase
  border 1px solid rgba(0, 0, 0, 0.1)
  border-radius 2px
  text-align center
  vertical-align middle
  white-space nowrap
  text-shadow 0 1px 0 #fff
  transition border-color .218s ease
  background linear-gradient(top, 40% whiteSmoke, 70% #f1f1f1)

.bn-gray:hover
  color #333
  border-color #939393
  cursor pointer
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.1)

.login-form
  width 522px
  margin 200px auto

.login-form .item
.login-form .item-submit
  display inline-block
  margin-right 10px

.login-form input
.login-form label
  display inline
  width auto

.login-form .ipt-txt
  width 200px

.login-form .ipt-cb
  margin-right 5px

.owner-avatar,
.owner-intro
  display inline-block

.owner-avatar
  margin-right 10px
  vertical-align top

.owner-avatar img
  margin-bottom -3px

.owner-intro
  padding-top 6px

.owner-intro h4
  margin-bottom 4px

.owner-intro p
  font-size 12px
  font-style italic
  color #bbb

.atom,
.atom:hover
  display inline-block
  height 16px
  line-height 16px
  font-size 11px
  padding-left 22px
  background url(http://static.mockee.com/images/atom.png) no-repeat left center

.atom:hover
  color #666

blockquote
  color #333
  padding 0 28px
  margin 0 15px
  background url(/images/quote.png) no-repeat
