footer
  span.copyright
    | Powered by&nbsp;
    a(href='https://github.com/mockee/nodecat') NodeCat
    &nbsp;&nbsp;&nbsp;&copy&nbsp;2011 - 2013&nbsp;
  .powered
    a(class='logo-nodejs'
      href='http://www.nodejs.org/'
      target='_blank')

STATIC_URL = 'http://static.mockee.com'
script(
  src = STATIC_URL + '/js/lib/do/_init_.min.js'
  data-cfg-corelib = STATIC_URL + '/js/lib/zepto.min.js')
script
  !{istatic('js/ga.js')}
