.owner-avatar
  a(href='http://www.douban.com/people/mockee/', target='_blank')
    img(src='http://static.mockee.com/img/mockee-avatar-48x48.jpg')
.owner-intro
  h4 mockee
  p
    = 'Living in '
    a(href='http://www.alphatown.com') 笑脸男胡同 
