div.item
  label(for='title') 标题
  input(type='text', name='note[title]', id='title', value= note.title || '')
- if (method === 'create') {
div.item
  label(for='title') slug 
  input(type='text', name='note[slug]', id='slug')
- }
div.item
  label(for='text') 正文
  textarea(name='note[body]', id='notebody')= note.body || ''
div.item
  label(for='tags') tags 
  input(type='text', name='note[tags]', id='tags', value= note.tags.join(' ') || '')
div.item-submit
  - if (method === 'edit') {
    input(name='id', value=note.id, type='hidden')
    input(name='_method', value='PUT', type='hidden')
  - }
    input.bn-gray(type='submit', name='submit')
