.mod
  .hd
    h3 Privilege
  .bd
    ul.terse-list
      li
        a(href='/note/create') Create Note
      li
        a(href='/note/list') Manage Notes
      li
        a(href='/comment/list') Manage Comments
      li
        a(href='/admin/logout') Logout 
