!!! 5
html
  head
    title= title
    block styles
      link(rel='stylesheet'
        href='/css/main.css')
  body
    .wrapper
      block content
      footer
    script
      !{istatic('js/ga.js')}
