$column = 48px
$gutter = 24px

// colors
$grayDarker = #222
$grayDark = #333
$gray = #666
$grayLight = #999
$grayLighter = #eee

$sageGreen = #67a88f

$linkColor = #888

$sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$monoFontFamily = Monaco, Consolas, "BitStream Vera Sans Mono", CourierNewPS-BoldMT, "Courier New", Courier

$baseFontSize = 14px
$baseLineHeight = 1.5
$baseFontFamily = $sansFontFamily
