extends ../layout

block content
  section
    .main
      article
        h2= title
        form.create-form.form-horizontal(method='post'
          action='/note/create')
          - var method = 'create'
          include includes/fields
  aside 
    div.mod
      div.hd
        h3 上传图片
      div.bd
        form#upload-form(method='post'
          action='/note/upload_pic'
          enctype='multipart/form-data')
          input.upload-input(type='file', name='image')
        script.
          Do('editor')
        div.photo-preview
